.logo{
    display: flex;
    justify-content: end;
}
.cuerpo{
    background-color: rgb(28, 28, 28);
    background-image: url("../img/imagen1.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    background-attachment: fixed;
    font-weight: bolder;
}
#form{
    font-style: italic;
    font-size: large;
    color: black;
}
.label{
    display: flex;
    justify-content: flex-start;
}
.fondo{
    background-color: rgb(28, 28, 28);
    font-style: italic;
    font-size: large;
    color: whitesmoke;
}
.enlaces{
    font-style: italic;
    font-size: large;
    color: whitesmoke;
}